.env
.git
.gitignore
node_modules/
npm-debug.log
generate*
README.md
postcss.*.js

docker-compose.test.yml
docker-compose.yml
Dockerfile
Dockerfile.dev
Dockerfile.test

/**/__tests__/
.vscode

**/node_modules/
**/dist
.coverage
.coverage.*
.aws
