.env

# Node.js specific
node_modules
node_modules/
npm-debug.log
yarn-error.log

# Development files and directories
.git
.gitignore
.vscode
.editorconfig
.eslintignore
.eslintrc
.prettierrc
*.md
*.markdown
*.log

# Test files and directories
#__tests__/
#test/
#tests/
#*.test.*
#jest.config.js
#test-setup.js
#global-setup.cjs

# Build and output files
artifact/
coverage/
dist/
lib/
build/

# Dependency management
package-lock.json
yarn.lock

# Docker
Dockerfile*
docker-compose*

# Miscellaneous
.aws
