.env
elbsg.config
node_modules/
logs
*.log
npm-debug.log*
.npm
.npmrc
nobsc-api.zip
artifact/
build/
dist/
coverage/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
