#supposedly certbot is already installed, but...
container_commands:
  #00_install_deps:
  #  command: "sudo dnf install python3 augeas-libs"
  #  ignoreErrors: true
  #10_create_venv:
  #  command: "sudo python3 -m venv /opt/certbot"
  #  ignoreErrors: true
  #20_update_pip:
  #  command: "sudo /opt/certbot/bin/pip install --upgrade pip"
  #  ignoreErrors: true
  #30_install_certbot:
  #  command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
  #  ignoreErrors: true
  #40_link_certbot:
  #  command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
  #  ignoreErrors: true

  #sudo dnf install -y augeas-libs
  #sudo python3 -m venv /opt/certbot/
  #sudo /opt/certbot/bin/pip install --upgrade pip
  #sudo /opt/certbot/bin/pip install certbot

  #00:
    command: "sudo dnf install -y certbot python3-certbot-dns-route53"
    ignoreErrors: true
  #10:
    command: "sudo dnf install -y python3-certbot-nginx"
    ignoreErrors: true
  #20:
    command: "sudo systecmtl daemon-reload"
    ignoreErrors: true
  #30:
    command: "sudo systemctl enable --now certbot-renew.timer"
    ignoreErrors: true